body{
    background-color: pink;
}
.home-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
hr{
    margin: 20px 0;
    border: 1px solid black;
}
hr .commant-container{ 
    margin: 10px 0;
    border:1px solid black;
}